<h1>How to make a <%= @cocktail.name %></h1>
<%= link_to "Add ingredients and doses", new_cocktail_dose_path(@cocktail) %>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %><%= link_to "Delete", cocktail_dose_path(dose), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></li>
  <% end %>
</ul>
<%= link_to "Back to index", cocktails_path %>
